<div class="bg-img">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="header-logo">
        <img class="branding" src="../../assets/headerLogo.png" alt="header" />
      </div>
      <button id="back-btn" [routerLink]="['/contact']">Cancel</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="dark">
    <div class="section">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15201.344671319503!2d83.30221142452992!3d17.728792655996145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a39433a46e5826b%3A0xd6538ae0406525aa!2sDwaraka+Nagar%2C+Visakhapatnam%2C+Andhra+Pradesh!5e0!3m2!1sen!2sin!4v1492542636507"
        width="800"
        height="500"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
      <div></div>
    </div>
  </div>
</div>
